#color {
    background-color: whitesmoke;
}

.cont{
  width: 100%;
  margin-left: 10%;
  margin-top: 5%;
}

.botonStyle2 {
    float: left;
    margin: 3px;
    border-width: 1px;
    margin-left: 12%;

}

#imgPerfil {
    width: 100%;
    border-color: steelblue;

}
