#color {
    background-color: lightblue;
}

.botonStyle2 {
    float: left;
    margin: 3px;
    margin-top: 15px;
    border-width: 1px;
}

#imgPerfil {
    width: 100%;
    border-color: steelblue;
    
}