

@media screen and (max-width: 700px) {
  .menuCard  {
    width: 100%;
    position: relative;
  }
}

.general {
  overflow-x:auto;
  top:40px;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}

.botonStyle {
    float: right;
    margin: 3px;
    margin-top: 15px;
    border-width: 1px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #848484
}

.pets {
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 7%;
}
