.header {
    overflow: hidden;
    background-color: rgb(104, 93, 62);
    position: absolute;
    top: 0;
    width: 100%;
}
  
.header a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.header a:hover {
    background: #ddd;
    color: rgb(0, 0, 0);
}